{
    "openapi": "3.1.0",
    "info": {
        "title": "beste.schule",
        "version": "0.3",
        "description": "The API supports the following query parameters for filtering results. All filters are optional and can be combined.\n\n**Available Filters:**\n\n**`filter[group]`** - Filter by group identifier(s). Multiple values separated by comma.\nExample: `?filter[group]=class-a` or `?filter[group]=class-a,class-b`\n\n**`filter[student]`** - Filter by student identifier(s). Multiple values separated by comma.\nExample: `?filter[student]=12345` or `?filter[student]=12345,67890`\n\n**`filter[guardian]`** - Filter by guardian identifier(s). Multiple values separated by comma.\nExample: `?filter[guardian]=parent-001` or `?filter[guardian]=parent-001,parent-002`\n\n**`filter[teacher]`** - Filter by teacher identifier(s). Multiple values separated by comma.\nExample: `?filter[teacher]=teacher-123` or `?filter[teacher]=teacher-123,teacher-456`\n\n**`filter[subject]`** - Filter by subject identifier(s). Multiple values separated by comma.\nExample: `?filter[subject]=math` or `?filter[subject]=math,science`\n\n**`filter[room]`** - Filter by room identifier(s). Multiple values separated by comma.\nExample: `?filter[room]=A101` or `?filter[room]=A101,B205`\n\n**`filter[interval]`** - Filter by time interval identifier(s). Multiple values separated by comma.\nExample: `?filter[interval]=morning` or `?filter[interval]=morning,afternoon`\n\n**`filter[year]`** - Filter by academic year identifier(s). Multiple values separated by comma.\nExample: `?filter[year]=2024` or `?filter[year]=2024,2025`\n\n**`filter[role]`** - Filter by user role. **Important:** Only accepts these values: `student`, `teacher`, `guardian`, `mod`\nExample: `?filter[role]=teacher`"
    },
    "servers": [
        {
            "url": "http://beste.schule/api"
        }
    ],
    "paths": {
        "/absences": {
            "post": {
                "operationId": "absences.store",
                "summary": "Absence: Store",
                "tags": [
                    "Absence"
                ],
                "responses": {
                    "200": {
                        "description": "`Absence`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Absence"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "get": {
                "operationId": "absences.index",
                "summary": "Absence: Index",
                "tags": [
                    "Absence"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `Absence`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Absence"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                }
            }
        },
        "/absences/{absence}": {
            "put": {
                "operationId": "absences.update",
                "summary": "Absence: Update",
                "tags": [
                    "Absence"
                ],
                "parameters": [
                    {
                        "name": "absence",
                        "in": "path",
                        "required": true,
                        "description": "The absence ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`Absence`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Absence"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "absences.destroy",
                "summary": "Absence: Destroy",
                "tags": [
                    "Absence"
                ],
                "parameters": [
                    {
                        "name": "absence",
                        "in": "path",
                        "required": true,
                        "description": "The absence ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            },
            "get": {
                "operationId": "absences.show",
                "summary": "Absence: Show",
                "tags": [
                    "Absence"
                ],
                "parameters": [
                    {
                        "name": "absence",
                        "in": "path",
                        "required": true,
                        "description": "The absence ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`Absence`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Absence"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/absence-batches": {
            "post": {
                "operationId": "absence-batches.store",
                "tags": [
                    "AbsenceBatch"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreAbsenceBatchRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AbsenceBatch`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AbsenceBatch"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "get": {
                "operationId": "absence-batches.index",
                "tags": [
                    "AbsenceBatch"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `AbsenceBatch`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AbsenceBatch"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/absence-batches/{absenceBatch}": {
            "put": {
                "operationId": "absence-batches.update",
                "tags": [
                    "AbsenceBatch"
                ],
                "parameters": [
                    {
                        "name": "absenceBatch",
                        "in": "path",
                        "required": true,
                        "description": "The absence batch ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAbsenceBatchRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AbsenceBatch`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AbsenceBatch"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "absence-batches.destroy",
                "tags": [
                    "AbsenceBatch"
                ],
                "parameters": [
                    {
                        "name": "absenceBatch",
                        "in": "path",
                        "required": true,
                        "description": "The absence batch ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "related absences are deleted automatically by the database\n\n\n\nNo content"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            },
            "get": {
                "operationId": "absence-batches.show",
                "tags": [
                    "AbsenceBatch"
                ],
                "parameters": [
                    {
                        "name": "absenceBatch",
                        "in": "path",
                        "required": true,
                        "description": "The absence batch ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`AbsenceBatch`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AbsenceBatch"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/types/absence": {
            "post": {
                "operationId": "absence.store",
                "summary": "AbsenceType: Store",
                "tags": [
                    "AbsenceType"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreAbsenceTypeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AbsenceType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AbsenceType"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "get": {
                "operationId": "absenceType.index",
                "summary": "AbsenceType: Index",
                "tags": [
                    "AbsenceType"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `AbsenceType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AbsenceType"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/types/absence/{id}": {
            "get": {
                "operationId": "absence.show",
                "summary": "AbsenceType: Show",
                "tags": [
                    "AbsenceType"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`AbsenceType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AbsenceType"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "operationId": "absence.update",
                "summary": "AbsenceType: Update",
                "tags": [
                    "AbsenceType"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAbsenceTypeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AbsenceType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AbsenceType"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "absence.destroy",
                "summary": "AbsenceType: Destroy",
                "tags": [
                    "AbsenceType"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/absences/{absence}/verifications": {
            "post": {
                "operationId": "absences.verifications.store",
                "summary": "AbsenceVerification: Store",
                "tags": [
                    "AbsenceVerification"
                ],
                "parameters": [
                    {
                        "name": "absence",
                        "in": "path",
                        "required": true,
                        "description": "The absence ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreAbsenceVerificationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AbsenceVerification`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AbsenceVerification"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/absences/verifications/{id}": {
            "get": {
                "operationId": "verifications.show",
                "summary": "AbsenceVerification: Show",
                "tags": [
                    "AbsenceVerification"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`AbsenceVerification`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AbsenceVerification"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/absences/verifications/{verification}": {
            "put": {
                "operationId": "verifications.update",
                "summary": "AbsenceVerification: Update",
                "tags": [
                    "AbsenceVerification"
                ],
                "parameters": [
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAbsenceVerificationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AbsenceVerification`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AbsenceVerification"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "verifications.destroy",
                "summary": "AbsenceVerification: Destroy",
                "tags": [
                    "AbsenceVerification"
                ],
                "parameters": [
                    {
                        "name": "verification",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                }
            }
        },
        "/announcements": {
            "post": {
                "operationId": "announcements.store",
                "summary": "Announcement: Store",
                "tags": [
                    "Announcement"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreAnnouncementRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`Announcement`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Announcement"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "get": {
                "operationId": "announcements.index",
                "summary": "Announcement: Index",
                "tags": [
                    "Announcement"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `Announcement`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Announcement"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                }
            }
        },
        "/announcements/{announcement}": {
            "put": {
                "operationId": "announcements.update",
                "summary": "Announcement: Update",
                "tags": [
                    "Announcement"
                ],
                "parameters": [
                    {
                        "name": "announcement",
                        "in": "path",
                        "required": true,
                        "description": "The announcement ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAnnouncementRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`Announcement`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Announcement"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "announcements.destroy",
                "summary": "Announcement: Destroy",
                "tags": [
                    "Announcement"
                ],
                "parameters": [
                    {
                        "name": "announcement",
                        "in": "path",
                        "required": true,
                        "description": "The announcement ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/announcements/{announcement}/read": {
            "post": {
                "operationId": "announcement.markRead",
                "summary": "Announcement: Mark as read",
                "tags": [
                    "Announcement"
                ],
                "parameters": [
                    {
                        "name": "announcement",
                        "in": "path",
                        "required": true,
                        "description": "The announcement ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MarkReadAnnouncementRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`Announcement`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Announcement"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/announcements/{id}": {
            "get": {
                "operationId": "announcements.show",
                "summary": "Announcement: Show",
                "tags": [
                    "Announcement"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`Announcement`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Announcement"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/types/announcement": {
            "post": {
                "operationId": "announcement.store",
                "summary": "AnnouncementType: Store",
                "tags": [
                    "AnnouncementType"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreAnnouncementTypeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AnnouncementType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AnnouncementType"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "get": {
                "operationId": "announcementType.index",
                "summary": "AnnouncementType: Index",
                "tags": [
                    "AnnouncementType"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `AnnouncementType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AnnouncementType"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/types/announcement/{id}": {
            "get": {
                "operationId": "announcement.show",
                "summary": "AnnouncementType: Show",
                "tags": [
                    "AnnouncementType"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`AnnouncementType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AnnouncementType"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "operationId": "announcement.update",
                "summary": "AnnouncementType: Update",
                "tags": [
                    "AnnouncementType"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAnnouncementTypeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`AnnouncementType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AnnouncementType"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "announcement.destroy",
                "summary": "AnnouncementType: Destroy",
                "tags": [
                    "AnnouncementType"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/certificate-grades/{certificateGradeId}/restore": {
            "post": {
                "operationId": "certificateGrade.restore",
                "tags": [
                    "CertificateGrade"
                ],
                "parameters": [
                    {
                        "name": "certificateGradeId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`CertificateGrade`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CertificateGrade"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/certificate-grades": {
            "get": {
                "operationId": "certificate-grades.index",
                "summary": "Display a listing of the resource",
                "tags": [
                    "CertificateGrade"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `CertificateGrade`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/CertificateGrade"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "certificate-grades.store",
                "summary": "Store a newly created resource in storage",
                "tags": [
                    "CertificateGrade"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreCertificateGradeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`CertificateGrade`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CertificateGrade"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "An error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": "Storing certificate grades is only allowed for teachers."
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/certificate-grades/{id}": {
            "get": {
                "operationId": "certificate-grades.show",
                "summary": "Display the specified resource",
                "tags": [
                    "CertificateGrade"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`CertificateGrade`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CertificateGrade"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/certificate-grades/{certificateGrade}": {
            "put": {
                "operationId": "certificate-grades.update",
                "summary": "Update the specified resource in storage",
                "tags": [
                    "CertificateGrade"
                ],
                "parameters": [
                    {
                        "name": "certificateGrade",
                        "in": "path",
                        "required": true,
                        "description": "The certificate grade ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCertificateGradeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`CertificateGrade`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CertificateGrade"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "certificate-grades.destroy",
                "summary": "Remove the specified resource from storage",
                "tags": [
                    "CertificateGrade"
                ],
                "parameters": [
                    {
                        "name": "certificateGrade",
                        "in": "path",
                        "required": true,
                        "description": "The certificate grade ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/checklists": {
            "post": {
                "operationId": "checklists.store",
                "summary": "Checklist: Store",
                "tags": [
                    "Checklist"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreChecklistRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`Checklist`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Checklist"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "get": {
                "operationId": "checklists.index",
                "summary": "Checklist: Index",
                "tags": [
                    "Checklist"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `Checklist`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Checklist"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                }
            }
        },
        "/checklists/{checklist}": {
            "put": {
                "operationId": "checklists.update",
                "summary": "Checklist: Update",
                "tags": [
                    "Checklist"
                ],
                "parameters": [
                    {
                        "name": "checklist",
                        "in": "path",
                        "required": true,
                        "description": "The checklist ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateChecklistRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`Checklist`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Checklist"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "checklists.destroy",
                "summary": "Checklist: Destroy",
                "tags": [
                    "Checklist"
                ],
                "parameters": [
                    {
                        "name": "checklist",
                        "in": "path",
                        "required": true,
                        "description": "The checklist ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/checklists/{id}": {
            "get": {
                "operationId": "checklists.show",
                "summary": "Checklist: Show",
                "tags": [
                    "Checklist"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`Checklist`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Checklist"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/types/checklist": {
            "post": {
                "operationId": "checklist.store",
                "summary": "ChecklistType: Store",
                "tags": [
                    "ChecklistType"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreChecklistTypeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`ChecklistType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ChecklistType"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "get": {
                "operationId": "checklistType.index",
                "summary": "ChecklistType: Index",
                "tags": [
                    "ChecklistType"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `ChecklistType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ChecklistType"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/types/checklist/{id}": {
            "get": {
                "operationId": "checklist.show",
                "summary": "ChecklistType: Show",
                "tags": [
                    "ChecklistType"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`ChecklistType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ChecklistType"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "operationId": "checklist.update",
                "summary": "ChecklistType: Update",
                "tags": [
                    "ChecklistType"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateChecklistTypeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`ChecklistType`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ChecklistType"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "checklist.destroy",
                "summary": "ChecklistType: Destroy",
                "tags": [
                    "ChecklistType"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    }
                }
            }
        },
        "/collections/{id}/restore": {
            "post": {
                "operationId": "collection.restore",
                "summary": "Collection: Restore",
                "tags": [
                    "Collection"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`Collection`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Collection"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                }
            }
        },
        "/collections": {
            "post": {
                "operationId": "collections.store",
                "summary": "Collection: Store",
                "tags": [
                    "Collection"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreCollectionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "`Collection`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Collection"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "get": {
                "operationId": "collections.index",
                "summary": "Collection: Index",
                "tags": [
                    "Collection"
                ],
                "responses": {
                    "200": {
                        "description": "Array of `Collection`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Collection"
                                            }
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                }
            }
        },
        "/collections/{id}": {
            "put": {
                "operationId": "collections.update",
                "summary": "Collection: Update",
                "tags": [
                    "Collection"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateCollectionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "don't send grades to client\n\n\n\n`Collection`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Collection"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "delete": {
                "operationId": "collections.destroy",
                "summary": "Collection: Destroy",
                "tags": [
                    "Collection"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    }
                }
            },
            "get": {
                "operationId": "collections.show",
                "summary": "Collection: Show",
                "tags": [
                    "Collection"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "`Collection`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Collection"
                                        },
                                        "meta": {
                                            "type": "object",
                                            "properties": {
                                                "version": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "version"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/types/interval": {
            "get": {
                "operationId": "compute.intervalTypes",
                "summary": "Compute: Interval Types",
                "tags": [
                    "Compute"
                ],
                "responses": {
                    "200": {
                        "description": "`ArrayCollection`",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/ArrayCollection"
[...]
