openapi: 3.0.3
info:
  title: 'beste.schule API-Dokumentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://beste.schule'
paths:
  '/api/journal/days/{date}':
    post:
      summary: 'Journal Day: Store or Update'
      operationId: journalDayStoreOrUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Management
    put:
      summary: 'Journal Day: Store or Update'
      operationId: journalDayStoreOrUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Management
    delete:
      summary: 'Journal Day: Destroy'
      operationId: journalDayDestroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Management
    get:
      summary: 'Journal Day: Show'
      operationId: journalDayShow
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Student
    parameters:
      -
        in: path
        name: date
        description: ''
        example: sunt
        required: true
        schema:
          type: string
  '/api/journal/weeks/{nr}':
    post:
      summary: 'Journal Week: Store or Update'
      operationId: journalWeekStoreOrUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Management
    put:
      summary: 'Journal Week: Store or Update'
      operationId: journalWeekStoreOrUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Management
    delete:
      summary: 'Journal Week: Destroy'
      operationId: journalWeekDestroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Management
    get:
      summary: 'Journal Week: Show'
      operationId: journalWeekShow
      description: ''
      parameters:
        -
          in: query
          name: filter.year
          description: 'string|array Year IDs.'
          example: null
          required: false
          schema:
            type: string
            description: 'string|array Year IDs.'
            example: null
        -
          in: query
          name: interpolate
          description: 'Fill in missing entries.'
          example: null
          required: false
          schema:
            type: boolean
            description: 'Fill in missing entries.'
            example: null
        -
          in: query
          name: include
          description: 'Can contain any of `days`, `days.lessons`.'
          example: null
          required: false
          schema:
            type: array
            description: 'Can contain any of `days`, `days.lessons`.'
            example: null
            items:
              type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Student
    parameters:
      -
        in: path
        name: nr
        description: ''
        example: 2086-71
        required: true
        schema:
          type: string
  /api/groups/batch:
    post:
      summary: 'Group: Batch'
      operationId: groupBatch
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              description: 'Groups to process'
              example:
                -
                  id: 14
                  name: perferendis
                  local_id: enim
                  custom: []
                  subjects:
                    - voluptate
                  students:
                    - dolore
                  tags:
                    - voluptates
                  importAction: null
              items:
                type: object
                properties:
                  id:
                    type: integer
                    description: ''
                    example: 14
                  name:
                    type: string
                    description: '(max 191 characters).'
                    example: perferendis
                  local_id:
                    type: string
                    description: '(max 191 characters).'
                    example: enim
                  custom:
                    type: object
                    description: ''
                    example: []
                    properties: []
                  subjects:
                    type: array
                    description: 'Local IDs.'
                    example:
                      - voluptate
                    items:
                      type: string
                  students:
                    type: array
                    description: 'Local IDs.'
                    example:
                      - dolore
                    items:
                      type: string
                  tags:
                    type: array
                    description: 'Local IDs.'
                    example:
                      - voluptates
                    items:
                      type: string
                  importAction:
                    type: string
                    description: 'Must be one of `create`, `update`, `delete`.'
                    example: null
                required:
                  - local_id
                  - importAction
  /api/groups/sync:
    post:
      summary: 'Group: Sync'
      operationId: groupSync
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
  '/api/groups/{id}/students':
    post:
      summary: 'Group: Add Student'
      operationId: groupAddStudent
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    delete:
      summary: 'Group: Remove Student'
      operationId: groupRemoveStudent
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the group.'
        example: 13
        required: true
        schema:
          type: integer
  '/api/groups/{id}/subjects':
    post:
      summary: 'Group: Add Subject'
      operationId: groupAddSubject
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    delete:
      summary: 'Group: Remove Subject'
      operationId: groupRemoveSubject
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the group.'
        example: 4
        required: true
        schema:
          type: integer
  '/api/groups/{id}/restore':
    post:
      summary: 'Group: Restore'
      operationId: groupRestore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the group.'
        example: 15
        required: true
        schema:
          type: integer
  /api/groups:
    post:
      summary: 'Group: Store'
      operationId: groupStore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Group: Index'
      operationId: groupIndex
      description: ''
      parameters:
        -
          in: query
          name: filter
          description: 'Query filters.'
          example: null
          required: false
          schema:
            type: object
            description: 'Query filters.'
            example: null
            properties: []
        -
          in: query
          name: filter.local_id
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
        -
          in: query
          name: filter.name
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
        -
          in: query
          name: filter.meta
          description: ''
          example: null
          required: false
          schema:
            type: boolean
            description: ''
            example: null
        -
          in: query
          name: filter.level_id
          description: 'Exact level ID.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Exact level ID.'
            example: null
        -
          in: query
          name: filter.level
          description: 'Level scope.'
          example: null
          required: false
          schema:
            type: array
            description: 'Level scope.'
            example: null
            items:
              type: integer
        -
          in: query
          name: filter.student
          description: 'string|array Student IDs.'
          example: null
          required: false
          schema:
            type: string
            description: 'string|array Student IDs.'
            example: null
        -
          in: query
          name: filter.year
          description: 'string|array Year IDs.'
          example: null
          required: false
          schema:
            type: string
            description: 'string|array Year IDs.'
            example: null
        -
          in: query
          name: include
          description: 'Can contain any of `subjects`, `students`, `level`, `level.intervals`.'
          example:
            - minima
          required: false
          schema:
            type: array
            description: 'Can contain any of `subjects`, `students`, `level`, `level.intervals`.'
            example:
              - minima
            items:
              type: string
        -
          in: query
          name: sort
          description: 'Can contain any of `id`, `local_id`, `name`, `level`. Prepend `-` to sort in descending order.'
          example:
            - et
          required: false
          schema:
            type: array
            description: 'Can contain any of `id`, `local_id`, `name`, `level`. Prepend `-` to sort in descending order.'
            example:
              - et
            items:
              type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Student
  '/api/groups/{id}':
    delete:
      summary: 'Group: Destroy'
      operationId: groupDestroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Group: Show'
      operationId: groupShow
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Student
    put:
      summary: 'Group: Update'
      operationId: groupUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Teacher
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the group.'
        example: 7
        required: true
        schema:
          type: integer
  '/api/importers/stundenplan24/{id}/load':
    post:
      summary: 'Stundenplan24: Load'
      operationId: stundenplan24Load
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the stundenplan24.'
        example: sit
        required: true
        schema:
          type: string
  '/api/importers/stundenplan24/{id}/load/time-table':
    post:
      summary: 'Stundenplan24: Load Time Table'
      operationId: stundenplan24LoadTimeTable
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the stundenplan24.'
        example: ipsa
        required: true
        schema:
          type: string
  '/api/importers/stundenplan24/{id}/load/substitutionplan':
    post:
      summary: 'Stundenplan24: Load Substitution Plan'
      operationId: stundenplan24LoadSubstitutionPlan
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the stundenplan24.'
        example: quia
        required: true
        schema:
          type: string
  '/api/importers/stundenplan24/{id}/logs':
    get:
      summary: 'Stundenplan24: Index Logs'
      operationId: stundenplan24IndexLogs
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the stundenplan24.'
        example: rerum
        required: true
        schema:
          type: string
  /api/importers/stundenplan24:
    get:
      summary: 'Stundenplan24: Index'
      operationId: stundenplan24Index
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    post:
      summary: 'Stundenplan24: Store'
      operationId: stundenplan24Store
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
  '/api/importers/stundenplan24/{id}':
    get:
      summary: 'Stundenplan24: Show'
      operationId: stundenplan24Show
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    put:
      summary: 'Stundenplan24: Update'
      operationId: stundenplan24Update
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    delete:
      summary: 'Stundenplan24: Destroy'
      operationId: stundenplan24Destroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the stundenplan24.'
        example: vero
        required: true
        schema:
          type: string
  '/api/importers/{id}/load':
    post:
      summary: 'Importer: Load'
      operationId: importerLoad
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the importer.'
        example: 19
        required: true
        schema:
          type: integer
  '/api/importers/{id}/load/time-tables':
    post:
      summary: 'Importer: Load Time Tables'
      operationId: importerLoadTimeTables
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the importer.'
        example: 8
        required: true
        schema:
          type: integer
  '/api/importers/{id}/load/substitutionplans':
    post:
      summary: 'Importer: Load Substitution Plans'
      operationId: importerLoadSubstitutionPlans
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the importer.'
        example: 5
        required: true
        schema:
          type: integer
  '/api/importers/{id}/logs':
    get:
      summary: 'Importer: Index Logs'
      operationId: importerIndexLogs
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the importer.'
        example: 8
        required: true
        schema:
          type: integer
  /api/importers:
    get:
      summary: 'Importer: Index'
      operationId: importerIndex
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    post:
      summary: 'Importer: Store'
      operationId: importerStore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  description: ''
                  example: true
                secret_student:
                  type: string
                  description: 'Must not be greater than 1024 characters.'
                  example: eoxhytxvgurhmkbrptwpdq
                secret_teacher:
                  type: string
                  description: 'Must not be greater than 1024 characters.'
                  example: uerweglywvayvbfrpy
                webhook_secret:
                  type: string
                  description: 'Must not be greater than 1024 characters.'
                  example: hnzlquohvslxqcc
              required:
                - active
  '/api/importers/{id}':
    get:
      summary: 'Importer: Show'
      operationId: importerShow
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    put:
      summary: 'Importer: Update'
      operationId: importerUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                active:
                  type: boolean
                  description: ''
                  example: false
                secret_student:
                  type: string
                  description: 'Must not be greater than 1024 characters.'
                  example: wxsqymzgbuftbbmk
                secret_teacher:
                  type: string
                  description: 'Must not be greater than 1024 characters.'
                  example: grpbmollcmrsjhazlbohimgix
                webhook_secret:
                  type: string
                  description: 'Must not be greater than 1024 characters.'
                  example: jrekvfesnze
              required:
                - active
    delete:
      summary: 'Importer: Destroy'
      operationId: importerDestroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the importer.'
        example: 17
        required: true
        schema:
          type: integer
  '/api/intervals/{id}/restore':
    post:
      summary: 'Interval: Restore'
      operationId: intervalRestore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the interval.'
        example: 17
        required: true
        schema:
          type: integer
  /api/intervals:
    post:
      summary: 'Interval: Store'
      operationId: intervalStore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Interval: Index'
      operationId: intervalIndex
      description: ''
      parameters:
        -
          in: query
          name: filter.student
          description: 'string|array Student IDs.'
          example: null
          required: false
          schema:
            type: string
            description: 'string|array Student IDs.'
            example: null
        -
          in: query
          name: filter.year
          description: 'string|array Year IDs.'
          example: null
          required: false
          schema:
            type: string
            description: 'string|array Year IDs.'
            example: null
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Student
  '/api/intervals/{id}':
    get:
      summary: 'Interval: Show'
      operationId: intervalShow
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    put:
      summary: 'Interval: Update'
      operationId: intervalUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    delete:
      summary: 'Interval: Destroy'
      operationId: intervalDestroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the interval.'
        example: 20
        required: true
        schema:
          type: integer
  /api/levels:
    post:
      summary: 'Level: Store'
      operationId: levelStore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Level: Index'
      operationId: levelIndex
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Teacher
  '/api/levels/{id}':
    get:
      summary: 'Level: Show'
      operationId: levelShow
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    put:
      summary: 'Level: Update'
      operationId: levelUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    delete:
      summary: 'Level: Destroy'
      operationId: levelDestroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the level.'
        example: 17
        required: true
        schema:
          type: integer
  /api/school:
    put:
      summary: 'School: Update'
      operationId: schoolUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'School: Show'
      operationId: schoolShow
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Student
    parameters:
      -
        in: path
        name: id
        description: ''
        example: null
        required: true
        schema:
          type: integer
  /api/school/users:
    post:
      summary: 'School: Add User'
      operationId: schoolAddUser
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
  '/api/school/users/{user_id}':
    delete:
      summary: 'School: Remove User'
      operationId: schoolRemoveUser
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: user_id
        description: 'The ID of the user.'
        example: 2
        required: true
        schema:
          type: integer
  /api/schools:
    get:
      summary: 'School: Index'
      operationId: schoolIndex
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    post:
      summary: 'School: Store'
      operationId: schoolStore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
  '/api/students/{id}/token':
    get:
      summary: 'Student: Refresh Token'
      operationId: studentRefreshToken
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    delete:
      summary: 'Student: Remove Token'
      operationId: studentRemoveToken
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the student.'
        example: 7
        required: true
        schema:
          type: integer
  '/api/students/{id}/intervals/{interval}':
    delete:
      summary: 'Student: Destroy Interval'
      operationId: studentDestroyInterval
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    post:
      summary: 'Student: Store Update Interval'
      operationId: studentStoreUpdateInterval
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Teacher
    put:
      summary: 'Student: Store Update Interval'
      operationId: studentStoreUpdateInterval
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Teacher
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the student.'
        example: 6
        required: true
        schema:
          type: integer
      -
        in: path
        name: interval
        description: 'The interval.'
        example: 4
        required: true
        schema:
          type: integer
  '/api/students/{id}/restore':
    post:
      summary: 'Student: Restore'
      operationId: studentRestore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the student.'
        example: 6
        required: true
        schema:
          type: integer
  '/api/interval_student/{id}/restore':
    post:
      summary: 'Student: Restore Interval'
      operationId: studentRestoreInterval
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the interval student.'
        example: quis
        required: true
        schema:
          type: string
  /api/students/batch:
    post:
      summary: 'Student: Batch'
      operationId: studentBatch
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
  /api/students:
    post:
      summary: 'Student: Store'
      operationId: studentStore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Student: Index'
      operationId: studentIndex
      description: ''
      parameters:
        -
          in: query
          name: filter
          description: 'Query filters.'
          example: null
          required: false
          schema:
            type: object
            description: 'Query filters.'
            example: null
            properties: []
        -
          in: query
          name: filter.id
          description: 'Exact ID.'
          example: null
          required: false
          schema:
            type: string
            description: 'Exact ID.'
            example: null
        -
          in: query
          name: filter.student
          description: 'Exact ID.'
          example: null
          required: false
          schema:
            type: integer
            description: 'Exact ID.'
            example: null
        -
          in: query
          name: filter.local_id
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
        -
          in: query
          name: filter.name
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
        -
          in: query
          name: filter.forename
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
        -
          in: query
          name: filter.trashed
          description: ''
          example: null
          required: false
          schema:
            type: boolean
            description: ''
            example: null
        -
          in: query
          name: filter.group
          description: 'string|array Group IDs.'
          example: null
          required: false
          schema:
            type: string
            description: 'string|array Group IDs.'
            example: null
        -
          in: query
          name: include
          description: 'Can contain any of `groups`, `metaGroups`, `intervals`, `grades`, `finalgrades`, `subjects`, `users`, `usersCount`, `token`.'
          example:
            - ut
          required: false
          schema:
            type: array
            description: 'Can contain any of `groups`, `metaGroups`, `intervals`, `grades`, `finalgrades`, `subjects`, `users`, `usersCount`, `token`.'
            example:
              - ut
            items:
              type: string
        -
          in: query
          name: sort
          description: 'Can contain any of `id`, `local_id`, `name`, `forename`'
          example:
            - dicta
          required: false
          schema:
            type: array
            description: 'Can contain any of `id`, `local_id`, `name`, `forename`'
            example:
              - dicta
            items:
              type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Student
  '/api/students/{id}':
    put:
      summary: 'Student: Update'
      operationId: studentUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    delete:
      summary: 'Student: Destroy'
      operationId: studentDestroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Student: Show'
      operationId: studentShow
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Student
    parameters:
      -
        in: path
        name: id
        description: ''
        example: null
        required: true
        schema:
          type: integer
  '/api/subjects/{id}/restore':
    post:
      summary: 'Subject: Destroy'
      operationId: subjectDestroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the subject.'
        example: 15
        required: true
        schema:
          type: integer
  /api/subjects/batch:
    post:
      summary: 'Subject: Batch'
      operationId: subjectBatch
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
  /api/subjects:
    post:
      summary: 'Subject: Store'
      operationId: subjectStore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Subject: Index'
      operationId: subjectIndex
      description: ''
      parameters:
        -
          in: query
          name: filter
          description: 'Query filters.'
          example: null
          required: false
          schema:
            type: object
            description: 'Query filters.'
            example: null
            properties: []
        -
          in: query
          name: filter.local_id
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
        -
          in: query
          name: filter.name
          description: ''
          example: null
          required: false
          schema:
            type: string
            description: ''
            example: null
        -
          in: query
          name: filter.student
          description: 'string|array Student IDs.'
          example: null
          required: false
          schema:
            type: string
            description: 'string|array Student IDs.'
            example: null
        -
          in: query
          name: filter.group
          description: 'string|array Group IDs.'
          example: null
          required: false
          schema:
            type: string
            description: 'string|array Group IDs.'
            example: null
        -
          in: query
          name: sort
          description: 'Can contain any of `local_id`, `name`.'
          example: null
          required: false
          schema:
            type: array
            description: 'Can contain any of `local_id`, `name`.'
            example: null
            items:
              type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Student
  '/api/subjects/{id}':
    get:
      summary: 'Subject: Show'
      operationId: subjectShow
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    put:
      summary: 'Subject: Update'
      operationId: subjectUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    delete:
      summary: 'Subject: Destroy'
      operationId: subjectDestroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the subject.'
        example: 12
        required: true
        schema:
          type: integer
  /api/substitution-plans:
    get:
      summary: 'Substitution Plan: Index'
      operationId: substitutionPlanIndex
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    post:
      summary: 'Substitution Plan: Store'
      operationId: substitutionPlanStore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
  '/api/substitution-plans/{id}':
    get:
      summary: 'Substitution Plan: Show'
      operationId: substitutionPlanShow
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    put:
      summary: 'Substitution Plan: Update'
      operationId: substitutionPlanUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    delete:
      summary: 'Substitution Plan: Destroy'
      operationId: substitutionPlanDestroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the substitution plan.'
        example: beatae
        required: true
        schema:
          type: string
  '/api/teachers/{id}/token':
    get:
      summary: 'Teacher: Refresh Token'
      operationId: teacherRefreshToken
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    delete:
      summary: 'Teacher: Remove Token'
      operationId: teacherRemoveToken
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the teacher.'
        example: 5
        required: true
        schema:
          type: integer
  /api/teachers/token:
    post:
      summary: 'Teacher: Batch Token'
      operationId: teacherBatchToken
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
  '/api/teachers/{id}/restore':
    post:
      summary: 'Teacher: Restore'
      operationId: teacherRestore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Mod
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the teacher.'
        example: 20
        required: true
        schema:
          type: integer
  /api/teachers/batch:
    post:
      summary: 'Teacher: Batch'
      operationId: teacherBatch
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
  /api/teachers:
    post:
      summary: 'Teacher: Index'
      operationId: teacherIndex
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Teacher: Index'
      operationId: teacherIndex
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Teacher
  '/api/teachers/{id}':
    put:
      summary: 'Teacher: Update'
      operationId: teacherUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    delete:
      summary: 'Teacher: Destroy'
      operationId: teacherDestroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Teacher: Show'
      operationId: teacherShow
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Teacher
    parameters:
      -
        in: path
        name: id
        description: ''
        example: null
        required: true
        schema:
          type: integer
  /api/time-tables:
    post:
      summary: 'Time Table: Store'
      operationId: timeTableStore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Time Table: Index'
      operationId: timeTableIndex
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Student
  '/api/time-tables/{id}':
    put:
      summary: 'Time Table: Update'
      operationId: timeTableUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    delete:
      summary: 'Time Table: Destroy'
      operationId: timeTableDestroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Time Table: Show'
      operationId: timeTableShow
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Student
    parameters:
      -
        in: path
        name: id
        description: ''
        example: null
        required: true
        schema:
          type: integer
  /api/time-table-times:
    post:
      summary: 'Time Table Time: Store'
      operationId: timeTableTimeStore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Time Table Time: Index'
      operationId: timeTableTimeIndex
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Teacher
  '/api/time-table-times/{id}':
    put:
      summary: 'Time Table Time: Update'
      operationId: timeTableTimeUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    delete:
      summary: 'Time Table Time: Destroy'
      operationId: timeTableTimeDestroy
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Time Table Time: Show'
      operationId: timeTableTimeShow
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Teacher
    parameters:
      -
        in: path
        name: id
        description: ''
        example: null
        required: true
        schema:
          type: integer
  /api/time-table-time-lessons:
    post:
      summary: 'Time Table Time Lesson: Store'
      operationId: timeTableTimeLessonStore
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example: {  }
                properties: {  }
      tags:
        - Mod
    get:
      summary: 'Time Table Time Lesson: Index'
      operationId: timeTableTimeLessonIndex
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses: {  }
      tags:
        - Teacher
  '/api/time-table-time-lessons/{id}':
    put:
      summary: 'Time Table Time Lesson: Update'
      operationId: timeTableTimeLessonUpdate
      description: ''
      parameters:
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {YOUR_AUTH_KEY}'
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
[...]
