name: Deploy WASM

on:
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

env:
  MODULE_PATH: composeApp

jobs:
  wasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - uses: gradle/actions/setup-gradle@v3

      - name: Build WASM Distribution
        run: |
          set -e
          ./gradlew :${MODULE_PATH}:wasmJsBrowserDistribution

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ env.MODULE_PATH }}/build/dist/wasmJs/productionExecutable

  wasm-pages:
    runs-on: ubuntu-latest
    needs: wasm
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
